@import url('https://fonts.googleapis.com/css2family=Raleway&display=swap');

hr {
    border: 2px solid black;
}

html {
    background: antiquewhite;
}

body {
    font-family: 'Raleway', 'Times New Roman', 'Times';
}

form {
    margin-left: 10px;
}

input {
    margin-top: 20px;
    margin-left: 10px;
    background-color: khaki;
}

.emer {
    background-color: lightsteelblue;
}

fieldset {
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
}

legend {
    font-size: 25px;
}