.banner {
    width: auto;
    min-height: 250px;
    display: flex;
    align-items: center;
    font-size: 30px;
    justify-content: center;
}

.nBar {
    background-color: black;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

a {
    color: white;
    margin-left: 20px;
    font-size: 30px;
    text-decoration: none;
}

a:hover {
    color: red;
}



footer {
    width: 100%;
    height: 240px;
    border: 3px solid crimson;
    margin-top: 260px;
    color: black;
    background-color: burlywood;
}

.contact {
    font-size: 30px;
    font-family: "Times New Roman", "Times", "sans-serif";
}